@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-blue: #3b448a;
  --secondary-blue: #2779bd;
  --tertiary-blue: #191f4f;
  --primary-red: #d32645;
  --secondary-red: #ff725e;
  --primary-green: #047701;
  --secondary-green: #87cc85;
}
